<!-- <div class="mat-display-4"> Los gatos te joden la vida, escoge otra mascota</div> -->


<mat-toolbar color="accent" class="navbar">
   
    <div> <mat-icon class="pet">pets</mat-icon>PrettyCat</div>
    <div>
        <button class="button1" mat-raised-button>Home</button>
        <button class="button2" mat-raised-button>Milka</button>
        <button class="button3" mat-raised-button>Croqueta</button>
    </div>

</mat-toolbar>

<!-- <div class="button">
   <mat-button-toggle-group #toggleGroup="matButtonToggleGroup">
       <mat-button-toggle value="Perro"> Perro</mat-button-toggle>
       <mat-button-toggle value="Gato"> Gato</mat-button-toggle>
       <mat-button-toggle value="Cerdo"> Cerdo</mat-button-toggle>
   </mat-button-toggle-group>
   {{toggleGroup.value}}
</div> -->
