.navbar{
    justify-content: space-between;
}

.button1{

    background-color: palevioletred
}
.button2{

    background-color: blueviolet
}

.button3{

    background-color: cyan
}





button{

    padding-right: 2rem;


}
