
<main class="fondo">
    <div class="container-fluid">
        <div class="row image-container">
            <div class="contendor">
                <div class="container-center">
                    <div class="columna col-12 col-lg-3 p-5">
                        <div class="card" style="width: 18rem;">
                            <img class="card-img-top" src="../../../assets/image/milka.jpg" alt="Card image cap">
                            <div class="card-body">
                              <p class="card-text">Esta es MIlka, una gatita que aunque parece muy linda es toda una fiera asesina</p>
                            </div>
                          </div>
                    </div>
                    <div class="columna col-12 col-lg-3 p-5">
                        <div class="card" style="width: 18rem;">
                            <img class="card-img-top" src="../../../assets/image/croqueta.jpg" alt="Card image cap">
                            <div class="card-body">
                              <p class="card-text">Esta es croquera, una gata muy mimada que a pesar de su educacion es un cielo</p>
                            </div>
                          </div>
                    </div>
                </div>
               
            </div>

        </div>
    </div>
   




    

</main>