.image-container {
    height:100%;
    width:100% ;
    background: url('./../../../assets/image/pngtree-cute-cats-seamless-pattern-with-colorful-pastel-colors-nursery-background-for-image_315640.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.contenedor {
    display:flex;
    justify-content: space-around;
    align-items: center;
}
.container-center {
    display:flex;
    justify-content: space-around;
    align-items: stretch;
}


.card{
    margin-right: 300px
}