
<main class="fondo">
    <div class="container-fluid">
        <div class="row image-container">
            <div class="contendor">
                <div class="container-center">
                    <div class="columna col-12 col-lg-3 p-5">
                        <div class="card" style="width: 18rem;">
                            <mat-card class="example-card">
                                <mat-card-header>
                                  <div mat-card-avatar class="example-header-image"></div>
                                  <mat-card-title>Milka</mat-card-title>
                                  <mat-card-subtitle>Gato Malo</mat-card-subtitle>
                                </mat-card-header>
                                <img mat-card-image src="../../../assets/image/milka.jpg" alt="Photo of a Shiba Inu">
                                <mat-card-content>
                                  <p>
                                    Esta es Mlka, una gatita que aunque parece muy linda es toda una fiera asesina
                                  </p>
                                </mat-card-content>
                                <mat-card-actions>
                                    <div class="text-center">
                                        <button class="button1" mat-button>LIKE</button>
                                        <button class="button2" mat-button>SHARE</button>

                                    </div>
                                </mat-card-actions>
                              </mat-card>
                          </div>
                    </div>
                    <div class="columna col-12 col-lg-3 p-5">
                        <div class="card" style="width: 18rem;">
                            <mat-card class="example-card">
                                <mat-card-header>
                                  <div mat-card-avatar class="example-header-images"></div>
                                  <mat-card-title>Croquetare</mat-card-title>
                                  <mat-card-subtitle>Gata Buena</mat-card-subtitle>
                                </mat-card-header>
                                <img mat-card-image src="../../../assets/image/croqueta.jpg" alt="Photo of a Shiba Inu">
                                <mat-card-content>
                                  <p>
                                    Esta es Croqueta,una gata muy consentida pero que a pesar de ello es un cielo.
                                  </p>
                                </mat-card-content>
                                <mat-card-actions>
                                    <div class="text-center">
                                        <button class="button1" mat-button>LIKE</button>
                                        <button class="button2" mat-button>SHARE</button>

                                    </div>
                                  
                                </mat-card-actions>
                              </mat-card>
                          </div>
                    </div>
                </div>

             


               
            </div>

        </div>
    </div>
   




    

</main>